.navbar {
  height: 130px;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  box-shadow: 0 0 5px gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-links {
  display: flex;
  align-items: flex-end;
}

.navbar-links * {
  text-decoration: none;
  color: black;
  margin-right: auto;
}

.navbar-links h1 {
  font-size: 3rem;
  font-style: cursive;
}

.navbar-links_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links_logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.navbar-links_container {
  display: flex;
  padding: 10px;
  margin-left: 40px;
}

.navbar-links_container a {
  margin: 0 16px;
}

.navbar-links_container input {
  border-radius: 5px;
  padding: 2px 15px;
  outline: none;
  border: none;
  color: black;
}

.navbar-links_container p {
  font-size: 20px;
  text-decoration: underline;
}

.navbar-sign {
  margin-left: auto;
}

.navbar button {
  background-color: rgb(255, 0, 157);
  margin: 5px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  border: solid 1px gray;
}
