.create {
  min-height: 80vh;
}

.form-new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-new .form-form {
  border: 1px solid gray;
  width: 500px;
  padding: 25px;
  margin: 32px;
  border-radius: 10px;
}

.create_form {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 30px;
}

.create-canvas {
  width: 100%;
  height: 400px;
  border-radius: 7px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mint-btns {
  display: flex;
}
